@import "base/units";
@import "base/colors";
@import "base/reset";
@import "base/fonts";
@import "base/body-base";

@import "media_queries/breakpoints";

@import "components/headings";
@import "components/button";

@import "pages/header";
@import "pages/container";
@import "pages/section__hero";
@import "pages/section__courses";
@import "pages/footer";
