.btn {
  display: inline-block;
  //   background-color: var(--blue-dark);
  //   color: var(--white);
  padding-inline: var(--32px);

  padding-block: var(--14px);
  text-align: center;

  border-radius: var(--28px);
  text-decoration: none;
  cursor: pointer;

  &:hover {
  }
}

.header__btn {
  background-color: var(--blue-dark);
  color: var(--white);
  &:hover {
    cursor: pointer;
  }
}

.section__hero--btn {
  background: linear-gradient(var(--orage-pink));
  color: var(--white);
}

.footer__btn {
  background: linear-gradient(var(--blue-pink));
  color: var(--white);
  transition: all 0.2ms;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  }
}
