.btn {
  display: inline-block;
  //   background-color: var(--blue-dark);
  //   color: var(--white);
  padding-inline: var(--32px);

  padding-block: var(--14px);
  text-align: center;

  border-radius: var(--28px);
  text-decoration: none;
}

.header__btn {
  background-color: var(--blue-dark);
  color: var(--white);
}

.section__hero--btn {
  background: linear-gradient(var(--orage-pink));
  color: var(--white);
}
