:root {
  --blue-light: hsl(234, 25%, 52%);
  --blue-dark: hsl(233, 54%, 16%);
  --gray: hsl(232, 10%, 56%);
  --pink: hsl(341, 92%, 62%);
  --pink-light: hsl(341, 100%, 83%);
  --white: hsl(0, 0%, 100%);
  --orage-pink: hsl(13, 100%, 64%), hsl(322, 87%, 55%);
  --blue-pink: hsl(237, 100%, 64%), hsl(322, 87%, 55%);
}
