:root {
  --8px: 8px;
  --10px: 10px;
  --12px: 12px;
  --15px: 15px;
  --16px: 16px;
  --18px: 18px;
  --27px: 27px;

  --28: 28px;
  --32px: 32px;
  --37px: 37px;
  --40px: 40px;
  --72: 72px;
  --80px: 80px;
  --94px: 94px;
  --112px: 112px;
  --120px: 120px;
}
