.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: var(--16px);
  margin-block-end: var(--38px);
  z-index: 100;

  @include tab {
    margin-block-start: var(--24px);
  }

  .header__logo {
    cursor: pointer;
  }
}
