.section__hero {
  width: 100%;
  z-index: 1;

  @include tab-port {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-block-start: var(--120px);
    margin-block-end: var(--210px);
  }

  @include desktop {
    column-gap: var(--70px);
    margin-block-end: var(--275px);
  }

  &--wrapper {
    @include desktop {
      padding-top: var(--70px);
    }
  }

  &--heading {
    margin-block-end: var(--26px);
    text-wrap: stable;
    @include desktop {
      margin-block-end: var(--30px);
    }
  }

  &--text {
    margin-block-end: var(--24px);
    line-height: 1.625;
    @include desktop {
      margin-block-end: var(--40px);
    }
  }

  &--btn {
    margin-block-end: var(--70px);
    @include tab {
      margin-block-end: 0;
    }
  }

  &__img {
    @include tab-port {
      position: absolute;
      top: -50px;
      right: -250px;
      z-index: -1;
    }

    @include desktop {
      top: -130px;
      right: -350px;
    }
  }
}
