.section__courses {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--40px);
  margin-block-end: var(--80px);

  @include desktop {
    margin-block-end: var(--140px);
  }

  @include tab {
    // width: min(calc(100% - var(--80px)), var(--70rem));
    // margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--10px);
    row-gap: var(--56px);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--30px);
    row-gap: var(--80px);
  }

  &--heading {
    background: linear-gradient(var(--orage-pink));
    padding: var(--28px);
    border-radius: var(--10px);
  }

  &--course {
    background-color: var(--white);
    border-radius: var(--10px);
    padding-inline: var(--32px);
    &--icon {
      margin-block-start: var(--28-px);
      margin-block-end: var(--24px);
    }

    &--heading {
      margin-block-end: var(--16px);
    }

    &--text {
      margin-block-end: var(--24px);
    }

    &--btn {
      display: inline-block;
      color: var(--pink);
      text-decoration: none;
      margin-block-end: var(--32px);
    }
  }
}
