.section__hero {
  width: 100%;
  @include tab {
    display: flex;
  }

  &--wrapper {
    @include tab {
    }
  }

  &--heading {
    margin-block-end: var(--26px);
  }

  &--text {
    margin-block-end: var(--24px);
    line-height: 1.625;
  }

  &--btn {
    margin-block-end: var(--70px);
    @include tab {
      margin-block-end: 0;
    }
  }
}
