.section__hero {
  width: 100%;
  @include tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-end: var(--210px);
  }

  &--wrapper {
    @include tab {
      margin-inline-start: var(--40px);
      margin-block-start: var(--112px);
    }
  }

  &--heading {
    margin-block-end: var(--26px);
  }

  &--text {
    margin-block-end: var(--24px);
    line-height: 1.625;
  }

  &--btn {
    margin-block-end: var(--70px);
    @include tab {
      margin-block-end: 0;
    }
  }

  &__img {
    // position: absolute;
    // top: -5rem;
    // right: -35%;
    top: 0;
    right: -100px;
  }
}
