.section__courses {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--40px);
  &--heading {
    background: linear-gradient(var(--orage-pink));
    padding: var(--28px);
    border-radius: var(--10px);
  }

  &--course {
    background-color: pink;
    border-radius: var(--10px);
    padding-inline: var(--32px);
    &--icon {
      margin-block-start: var(--28-px);
      margin-block-end: var(--24px);
    }

    // &--heading {

    // }
  }
}
